# required python packages
gmusicapi==12.1.1

# pick one of these for spotify
# https://github.com/omarryhan/pyfy#quick-start
# https://github.com/felix-hilden/spotipy#retrieving-an-access-token
# https://github.com/Harrison97/spotipy/blob/master/docs/index.rst
# https://github.com/Saphyel/spotify-api

# gcloud functions Python installed versions
# see https://cloud.google.com/functions/docs/writing/specifying-dependencies-python#pre-installed_packages
click==6.7
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pip==18.0
requests==2.21.0
setuptools==40.2.0
Werkzeug==0.14.1
wheel==0.31.1
