# required python packages
gmusicapi==12.1.1
lxml==4.4.1
pyyaml==5.1.2
requests==2.21.0
pytz=2019.3

# pick one of these for spotify
# https://github.com/omarryhan/pyfy#quick-start
# https://github.com/felix-hilden/spotipy#retrieving-an-access-token
# https://github.com/Harrison97/spotipy/blob/master/docs/index.rst
# https://github.com/Saphyel/spotify-api
