name: Code Analysis

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '39 5 * * 5'

jobs:
  analyze:
    name: Analyze ${{ matrix.language }} - ${{ matrix.version }}
    runs-on: 'ubuntu-latest'
    permissions:
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - language: actions
            build-mode: none
            version: ""
          - language: python
            build-mode: none
            version: "3.14"

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Initialize CodeQL
        uses: github/codeql-action/init@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v4.31.10
        with:
          languages: ${{ matrix.language }}
          build-mode: ${{ matrix.build-mode }}

      - if: matrix.language == 'python'
        name: Set up Python ${{ matrix.version }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.version }}
          cache: pip
          allow-prereleases: true

      - if: matrix.language == 'python'
        name: Install app
        run: |
          python -m pip install --upgrade pip
          python -m pip install .

      - if: matrix.language == 'python'
        name: Run pip audit
        uses: pypa/gh-action-pip-audit@1220774d901786e6f652ae159f7b6bc8fea6d266 # v1.1.0
        continue-on-error: true
        with:
          inputs: '.'

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v4.31.10
        with:
          category: "/language:${{matrix.language}}"
