---
name: Build package and upload to test PyPI and PyPI

on:
  push:
    branches:
      - main
    tags:
      - "*"
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  build-package:
    name: Build package
    runs-on: ubuntu-latest
    permissions:
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Build and Inspect Python
        uses: hynek/build-and-inspect-python-package@efb823f52190ad02594531168b7a2d5790e66516 # v2.14.0
        with:
          attest-build-provenance-github: 'true'

  # Upload to Test PyPI on every commit on main.
  release-test-pypi:
    name: Upload release to test.pypi.org
    runs-on: ubuntu-latest
    needs: build-package
    environment:
      name: release-test-pypi
      url: https://test.pypi.org/project/music-playlists
    if: github.repository_owner == 'cofiem' && github.event_name == 'push' && github.ref == 'refs/heads/main'

    permissions:
      # "id-token: write" is needed for PyPI Trusted Publishing
      id-token: write

    steps:
      - name: Download packages built by build-package
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: Packages
          path: dist

      - name: Upload package to Test PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          repository-url: https://test.pypi.org/legacy/
          print-hash: true
          verbose: true

  # Upload to real PyPI on GitHub Releases.
  release-pypi:
    name: Upload release to pypi.org
    runs-on: ubuntu-latest
    needs: build-package
    environment:
      name: release-pypi
      url: https://pypi.org/project/music-playlists
    if: github.repository_owner == 'cofiem' && github.event.action == 'published' && startsWith(github.ref, 'refs/tags')

    permissions:
      # "id-token: write" is needed for PyPI Trusted Publishing
      id-token: write

    steps:
      - name: Download packages built by build-package
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: Packages
          path: dist

      - name: Upload package to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          print-hash: true
          verbose: true
